html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Helvatica", Arial, sans;
  margin: 0;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 
    "header"
    "content";
  background-color: white;
}

.header {
  grid-area: header;
  display: flex;
  background-color: #000070;
  color: white;
  align-items: center;
  justify-content: space-between;
}

#open-button {
  display: none;
}

#close-button {
  display: none;
}

.title {
  font-size: 2.3em;
  padding: .5em 1em; 
  float: left;
  align-items: center;
}

.title a {
  text-decoration: none;
  color: white;
}

.title a:hover {
  color: #a9a9a9;
}

.nav-bar {
  float: right;
  align-items: center;
  padding-right: 1em
}

.nav-bar a {
  color: white;
}

.nav-item {
  display: inline-block;
  margin: 0 2em;
  font-size: 1.3em;
  text-decoration: none;
}

.nav-item a {
  text-decoration: none;
}

.nav-item:hover {
  color: #a9a9a9;
}

.dropdown-item {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-item a {
  display: block;
  padding: .4em;
  font-size: .8em;
}

.nav-item:hover .dropdown-item {
  background-color: #4527a0;
}
  
@media only screen and (min-width: 992px) {
.nav-item:hover .dropdown-item {
  display: block;
}
}

.dropdown-item a:hover {
  background-color: #7953d2;
}

.main-content {
  grid-area: content;
  line-height: 2em;
  width: 66%;
  margin: .5% auto 3% auto;
}  

.main-content p {
  font-size: 16px;
  margin-bottom: 2em;
}

.text-area {
  padding: 4%;
}

.text-area h1 {
  text-align: center;
}

.text-area h3 {
  text-align: center;
  margin-bottom: 2em;
}

.image {
  width: 250px;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 992px) {
  .header {
    display: block;
  }
  
  .nav-bar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0; 
    right: 0;
    background-color: #4527a0;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0;
  }
  
  .title {
    float: left;
    font-size: 2.8em;
  }
  
  #open-button {
    display: block;
    float: right;
    font-size: 2.8em;
    padding: .3em 1em;
    cursor: pointer;
  }
  
  #close-button {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 3em;
    padding: .8em .5em;
    cursor: pointer;
  }
  
  .nav-item {
    display: block;
    margin: 0;
    font-size: 2.5em;
    padding: .5em .8em;
  }
  
  .dropdown-item {
    padding-left: .4em;
  }
  
  .text-area {
    padding: 0;
    margin: 0;
  }
  
  .main-content {
    padding: 2em 3em;
    margin: 0;
    width: auto;
    line-height: 1.7;
  }
  
  .main-content p {
    font-size: 19px;
    margin: 0 0 1.6em;
  }
  
}