html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Helvatica", Arial, sans;
  margin: 0;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 
    "header"
    "content";
  background-color: white;
  min-height: 100vh;
}

/*Top Navigation and Title - Consistent Across the Entire Site*/
.header {
  grid-area: header;
  display: flex;
  background-color: #000070;
  color: white;
  align-items: center;
  justify-content: space-between;
}

#open-button {
  display: none;
}

#close-button {
  display: none;
}

.title {
  font-size: 2.3em;
  padding: .5em 1em; 
  float: left;
  align-items: center;
}

.title a {
  text-decoration: none;
  color: white;
}

.title a:hover {
  color: #a9a9a9;
}

.nav-bar {
  float: right;
  align-items: center;
  padding-right: 1em
}

.nav-bar a {
  color: white;
}

.nav-item {
  display: inline-block;
  margin: 0 2em;
  font-size: 1.3em;
  text-decoration: none;
}

.nav-item a {
  text-decoration: none;
}

.nav-item:hover {
  color: #a9a9a9;
}

.dropdown-item {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-item a {
  display: block;
  padding: .4em;
  font-size: .9em;
}

.nav-item:hover .dropdown-item {
  background-color: #4527a0;
}
  
@media only screen and (min-width: 992px) {
.nav-item:hover .dropdown-item {
  display: block;
}
}

.dropdown-item a:hover {
  background-color: #7953d2;
}

@media only screen and (max-width: 992px) {
  .header {
    display: block;
  }
  
  .nav-bar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0; 
    right: 0;
    background-color: #4527a0;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0;
  }
  
  .title {
    float: left;
    font-size: 2.8em;
  }
  
  #open-button {
    display: block;
    float: right;
    font-size: 2.8em;
    padding: .3em 1em;
    cursor: pointer;
  }
  
  #close-button {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 3em;
    padding: .8em .5em;
    cursor: pointer;
  }
  
  .nav-item {
    display: block;
    margin: 0;
    font-size: 2.5em;
    padding: .5em .8em;
  }
  
  .dropdown-item {
    padding-left: .4em;
  }
}



/*Tile Directory Establishment*/
.tile-directory {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "text-one"
    "state-links"
    "text-two";
  width: 90%;
  margin: 5% auto;
  grid-gap: 40px;
}

@media only screen and (min-width: 992px) {
  .tile-directory {
    width: 80%;
    margin: 3% auto 3% auto;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
  }
}

.text-block {
  line-height: 1.7;
  font-size: 20px;
}
  
#first-text {
    grid-area: text-one;
  }

/*Picture Link Positioning*/
.state-links {
  grid-area: state-links;
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-template-rows: repeat(2, 350px);
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  justify-content: center;
}

.pic-link {
  border: solid;
  border-color: #000070;
  text-decoration: none;
  display: grid;
  grid-template-areas: "tile";
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.picture {
  width: 320px;
  height: 320px;
  object-fit: contain;
  grid-area: tile;
  place-self: center;
}

.state-name {
  text-decoration: none;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8em;
  color: black;
  grid-area: tile;
  text-align: center;
}

.pic-link:hover {
  border-color: #7953d2;
}
.pic-link:hover .state-name {
  visibility: visible;
  opacity: 1;
}
.pic-link:hover .picture{
  opacity: .15;
}

#second-text {
  grid-area: text-two;
}