 
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Helvatica", Arial, sans;
  margin: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 7% 1fr 7%;
  grid-template-areas:
    "header header header"
    ". content .";
}

@media only screen and (min-width: 992px) {
  body {
    grid-template-rows: 85px 1fr;
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas: 
      "header  header  header"
      "left-side content right-side";
  }
}

.title {
  grid-row-start: 1;
  grid-column-start: 2;
  background-color: #7187f3;
  display: grid;
  align-items: center;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .title {
    grid-column-start: 2;
    justify-items: center;
  }
}

.top-fill {
  font-size: 1.5em;
  margin: 0;
  padding: .4em;
  color: #ffffff;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .top-fill {
    font-size: 2em;
  }
}

.right-block {
  background-color: #7187f3;
}

.back-button {
  background-color: #ff9e21;
  grid-row-start: 1;
  grid-column-start: 1;
  text-decoration: none;
  opacity: .99;
  display: grid;
  justify-items: center;
  align-items: center;
}
.back-button div {
    color: #ff9e21;
    opacity: 0.0;
  }
.back-button:hover {
  background-color: #c16030;
}
@media only screen and (min-width: 992px) {
  .back-button div {
    color: black;
    opacity: 1.0;
  }
}


.left-sidebar {
  grid-area: left-side;
  background-color: #7187f3;
}

.right-sidebar {
  grid-area: right-side;
  background-color: #7187f3;
}

.main-content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px max-content 20px;
  grid-template-areas: 
    "."
    "text"
    ".";
}  

@media only screen and (min-width: 992px) {
  .main-content {
    grid-template-columns: 1fr 1000px 1fr;
    grid-template-rows: 77px max-content 77px;
    grid-template-areas: 
      ". . ."
      ". text ."
      ". . .";
    line-height: 1.7em
  }
}  

.text-area {
  grid-area: text;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  box-shadow: 0 0 2px 0 #000000;
  padding: .8em 4%;
  background-color: white;
}

.text-area h1 {
    text-align: center;
}

.image {
  width: 45%;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}
